#root {
  height: 100%;
  
} 
/* .grid-container
{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer"
  ;
  grid-template-rows: 7rem 1fr 5rem;
  height:100%;
} */
.header
{
  background-color:green
}
.nav-brand:hover
{
  color: brown;
}

body
{
  background-color: #bdc3c7;
}

.footer {
  /* position: fix; */
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background-color:green;
}


.pb-video-container {
  padding-top: 40px;
  /* background: #bdc3c7; */
  font-family: Lato;
  margin: 0px;
}

.pb-video {
  border: 1px solid #e6e6e6;
  padding: 5px;
}

  .pb-video:hover {
      background: #2c3e50;
  }

.pb-video-frame {
  transition: width 2s, height 2s;
}

  .pb-video-frame:hover {
      height: 300px;
  }

.pb-row {
  margin-bottom: 10px;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
  }

/* .container-fluid
{
  width: 100%;
} */

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

.form-control
{
  margin-bottom: 15px;
}


.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}